#map {
 height: 500px;
 width: 100%;
 margin: auto;
}
#map-container {
  text-align: center;
  width: 100%;
  position: relative;
  margin: auto;
}

#chartdiv {
    width	: 100%;
    height	: 500px;
}

